In [2]:
import pandas as pd
big_df = pd.read_excel('700_job_listings.xls')
print("{} job listings found in database.".format(len(big_df)))
big_df.head()

,Unnamed: 0,title,company name,link,date listed,salary,job description
0,0,newCall Centre Agent,RMA CONTRACTS PTE. LTD.,sg.indeed.com/rc/clk?jk=a833dcac9b845238&fccid...,Posted8 days ago,"$2,600 - $2,800 a month",Handle a large volume of outbound calls in a t...
1,1,newMachine Operator - General Worker,EURO-LINK CONSULTANTS,sg.indeed.com/rc/clk?jk=86d2c472c28278ef&fccid...,Posted7 days ago,"$2,900 - $3,800 a month","6 days work week, off on Sundays.\nWilling to ..."
2,2,Packing,HOT SPICE CATERING PTE. LTD.,sg.indeed.com/rc/clk?jk=60532769fe7fed06&fccid...,Posted30+ days ago,"$5,000 - $6,500 a month",Keep Rice on the Rice steamers on the stipulat...
3,3,Work-from-home Accountants,Smaths Group of Companies pte ltd,sg.indeed.com/rc/clk?jk=5bb77b27c75a52dc&fccid...,Posted30+ days ago,$15 an hour,Work-from-home Accountants Job Scope? To compl...
4,4,Trainee Restaurant Supervisor,NaN,sg.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0AbL...,Posted9 days ago,"$2,600 - $3,000 a month",6 days rotational shift work week.\nSalary up ...

In [ ]:
big_df = big_df.dropna(())
print(" {} job listings in database after cleaning".format(len(big_df))